* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white; /* Text color is set to white */
}

body {
  background-color: #000000; /* Background color is black */
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input[type="email"],
.input-group input[type="password"],
.input-group input[type="text"],
.input-group select {
  width: 100%;
  padding: 12px 40px; /* Increased left padding for input fields */
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 16px;
}

.input-group i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #ccc;
}

.input-group label {
  position: absolute;
  left: 40px; /* Adjusted left position for the label */
  top: 50%;
  transform: translateY(-50%);
  color: #ccc;
  pointer-events: none;
  transition: 0.3s ease;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
  top: 10px;
  font-size: 12px;
  color: #ae6969;
}

.remember-me {
  text-align: left;
  margin-bottom: 20px;
}

button {
  width: 100%;
  padding: 14px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.register-link {
  margin-top: 20px;
}

.register-link p {
  font-size: 14px;
}

.register-link a {
  color: #4caf50;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
#userType {
  background-color: #000000;
  color: #ccc;
}
